#filmdetails>.main>.wrap>img{width: 100%;height: 180px;}
#filmdetails>.main>.wrap{min-height: 594px;}
#filmdetails>.main{position: absolute;top: 0px;left: 0;bottom: 0;width: 100%;overflow:hidden;}

/****电影详情页内容*****/
#filmdetails>.main>.wrap>.filmmain{width: 100%;box-sizing: border-box;}
#filmdetails>.main>.wrap>.filmmain h3{margin: 16px auto;font-size: 16px;color: #333;line-height: 22px;}
#filmdetails>.main>.wrap>.filmmain h3 i{display: block;width: 16px;background: rgb(228,200,156);margin-right: 4px;height: 22px;float: left;}
#filmdetails>.main>.wrap>.filmmain p{padding-left: 20px;line-height: 18px;font-size: 12px;color:#333;margin-bottom: 10px;}
#filmdetails>.main>.wrap>.filmmain p:nth-last-of-type(1){padding: 0 20px;}


#filmdetails>.buyTicket{width: 156px;height: 36px;background: #fe8233;color: #fff;text-align: center;line-height: 36px;border-radius: 18px;position: absolute;bottom: 20px;left: 50%;margin-left: -78px;}













