#me{background: #f6f6f6;}
#me form{margin-top: 30px;padding: 0 31px;}
#me form input{padding: 6px 12px;width: 234px;height: 14px;font-size: 14px;color: #555;background: #f6f6f6;border: 0;}
#me form .pwd{margin-top: 34px;position: relative;}
#me form button{display: block;background: #fe8233;width: 139px;height: 22px;padding: 8px 12px;font-size: 16px;color: #fff;text-align: center;line-height: 22px;border-radius: 38px;margin:0 auto;margin-top: 45px;border: 0;box-sizing: initial;}
#me form .username{position: relative;}
#me form .username:before,#me form .pwd:before{content: '';position: absolute;width: 100%;bottom: 0;height: 11px;border: 1px solid #c4c4c4;border-top: 0;}
















