#shop{background: rgb(235,235,235);margin-top: 45px;}


/*****轮播图****/
#shop .swiper-slide img{width: 100%;}
#shop .swiper-pagination-bullet-active{background: rgba(0,0,0,0.75);}
#shop .swiper-container-horizontal>.swiper-pagination-bullets,#shop .swiper-pagination-custom,#shop .swiper-pagination-fraction{bottom: 2px;}
#shop .swiper-pagination-bullet{width: 10px;height: 10px;margin: 0 10px;}

/*******导航栏*********/
#shop .nave{display: flex;background: #fff;flex-wrap: wrap;padding: 15px 0;margin-bottom: 8px;}
#shop .nave li{width: 25%;margin: 8px 0;}
#shop .nave li a{display: flex;flex-direction: column;justify-content: center;align-items: center;}
#shop .nave li img{width: 40px;height: 40px;margin-bottom: 5px;}
#shop .nave li span{font-size: 12px;color: #323232;}

/**********图片导航************/
#shop .contain{display: flex;padding: 0 10px;justify-content: space-between;background: #fff;margin-bottom: 8px;}
#shop .contain li{width: 147px;padding: 10px 0;}
#shop .contain li img{width: 100%;}

/**************有品专区*****************/
#shop .prefecture{margin-bottom: 8px;background: #fff;overflow: hidden;padding:0 10px 10px;}
#shop .prefecture h3{height: 33px;line-height: 33px;text-align: center;font-size: 12px}
#shop .prefecture img{width: 148px;float: right}
#shop .prefecture img:nth-of-type(2){float: left;}
#shop .prefecture img:nth-of-type(1){margin-bottom: 5px;}

/***********商城主体内容***********/
#shop .content dl{padding: 10px;background: #fff;margin-bottom: 8px;}
#shop .content dl:nth-last-of-type(1){margin-bottom: 0;}
#shop .content dl dt{margin-bottom: 2px;}
#shop .content dl dt img{width: 100%;}

#shop .content dl dd{display: flex;white-space: nowrap;overflow-x: scroll;}
#shop .content dl dd a{display: block;margin-right: 5px;}
#shop .content dl dd a:nth-last-of-type(1){margin-right: 0;text-align: center;padding:0 16px;line-height: 159px;}
#shop .content dl dd a:nth-last-of-type(1) i{width: 50px;height: 50px;border: 1px solid #ccc;color: #ccc;font-size: 12px;display: inline-block;text-align: center;line-height: 50px;border-radius: 50%;}
#shop .content dl dd a img{width: 84px;}
#shop .content dl dd a p{overflow: hidden;width: 84px;font-size: 12px;color: #323232;margin: 10px 0;}
#shop .content dl dd a span{color: #ff6640;font-size: 14px;margin-bottom: 12px;display:inline-block}

/***************好货精选*****************/
#shop .goodChoice h3{height: 33px;line-height: 33px;text-align: center;}
#shop .goodChoice>div{display: flex;flex-wrap: wrap;justify-content: space-between;padding:0 10px;}
#shop .goodChoice dl{background: #fff;width: 148px;margin-top: 5px;}
#shop .goodChoice dl a{display: block;}
#shop .goodChoice dl dt img{width: 148px;}

#shop .goodChoice dl dd:nth-of-type(1){height: 34px;padding-left: 6px;}
#shop .goodChoice dl dd:nth-of-type(1) p{font-size: 12px;line-height: 16px;color: #323232;}

#shop .goodChoice dl dd:nth-of-type(2){padding-left: 6px;padding-bottom: 10px;}
#shop .goodChoice dl dd:nth-of-type(2) span{color: #ff5000;font-size: 14px;}
#shop .goodChoice dl dd:nth-of-type(2) i{color: #999;font-size: 12px;margin-left: 15px;}

#shop .none h3{height: 33px;line-height: 33px;text-align: center;}
#shop .none p{font-size: 12px;text-align: center;line-height: 20px;}
#shop .none p:nth-of-type(2){color: #999;margin-bottom: 10px;}


/****************************************商品导航详情页****************************************************/
#shopnavedetails{background: rgb(235,235,235);margin-top: 45px;}
#shopnavedetails>div>img{width: 100%;margin-bottom:3px; }

#shopnavedetails>.category{padding: 17px 20px;width: 100%;height: 60px;background: #fff url(../../static/images/05df54d3.png) no-repeat;margin-bottom: 3px;overflow: hidden;background-size: 100% 100%;}
#shopnavedetails>.category>img{width: 50px;float: left;}
#shopnavedetails>.category>p{line-height: 50px;float: left;margin-left: 30px;font-size: 16px;}

#shopnavedetails>.list{display: flex;flex-wrap: wrap;justify-content: space-between;padding: 0 10px;} 
#shopnavedetails>.list li{padding-top: 4px;width: 148px;}
#shopnavedetails>.list li a{display: block;background: #fff;}
#shopnavedetails>.list li a img{width: 148px;margin-bottom: 4px;}
#shopnavedetails>.list li a p{height: 32px;padding-left: 6px;color: #323232;font-size: 12px;line-height: 16px;overflow: hidden;}
#shopnavedetails>.list li a div{padding-left: 6px;padding-bottom: 10px}
#shopnavedetails>.list li a div span{font-size:14px;color: #ff5000;}
#shopnavedetails>.list li a div i{color: #999;font-size: 12px;margin-left: 15px;}




/***************************************************商品详情页*******************************************************/
#shopdetails{background: rgb(235,235,235);margin-top: 45px;margin-bottom: 50px;}

/********轮播图*********/
#shopdetails .title .swiper-slide img{width: 100%;}
#shopdetails .swiper-pagination-bullet-active{background: rgba(0,0,0,0.75);}
#shopdetails .swiper-container-horizontal>.swiper-pagination-bullets,#shop .swiper-pagination-custom,#shop .swiper-pagination-fraction{bottom: 2px;}
#shopdetails .swiper-pagination-bullet{width: 10px;height: 10px;margin: 0 10px;}

/**********商品简介*************/
#shopdetails .title .content{padding: 4px 10px;background: #FFF;}
#shopdetails .title .content h2{font-size: 16px;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;color:#333;line-height: 20px; }
#shopdetails .title .content p{font-size: 12px;color: #757575;margin-top: 4px;margin-bottom: 4px;}
#shopdetails .title .content strong{font-size: 22px;color: #ff5000;font-weight: bold;}
#shopdetails .title .content .webstat{display: flex;color: #757575;}
#shopdetails .title .content .webstat span{flex: 1;text-align: left;font-size: 12px}
#shopdetails .title .content .webstat span:nth-of-type(2){text-align: center;}
#shopdetails .title .content .webstat span:nth-of-type(3){text-align: right;}


#shopdetails .title .change{margin: 10px 0;padding: 0 12px;line-height: 45px; font-size: 14px;background: #fff;}
#shopdetails .title .change .icon-menu{float: right}
#shopdetails .title .change .icon-menu:before{content: '\e619';line-height: 45px;text-align:center;}

/*************商品图文说明*************/
#shopdetails #content-list{padding: 0 10px;background: #fff;}
#shopdetails #content-list img{width: 100% !important;}

/*********底部导航**********/
#shopdetails .foot{background: #fff;height: 50px;position:fixed;bottom: 0;left: 0;width: 100%}
#shopdetails .foot a:nth-of-type(1){width: 75px;display: flex;flex-direction: column;justify-content: center;align-items: center;font-size: 12px;height: 100%;float: left}
#shopdetails .foot a:nth-of-type(1) .icon-menu:before{content:'\e66f';line-height: 25px;font-size: 28px;}
#shopdetails .foot a:nth-of-type(2){display: block;width: 124px;height: 50px;line-height: 50px;color: #fff;background: #ff5000;text-align: center;font-size:16px;float: right }
